@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #202020;

    font-family: 'Roboto', sans-serif;
}

#dashboard-header {
    color: #ffffff;
    text-align: center;
    user-select: none;
    font-size: 60px;
}

/* Arrow rotation */

.buttonUp {
    rotate: 180deg;
}

.buttonLeft {
    rotate: 90deg;
}

.buttonRight {
    rotate: 270deg;
}

/* ---------------- */

.flex-content-centered {
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button-wrapper {
    min-width: fit-content;
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(51, 51, 51);
    padding: 20px;
    cursor: pointer;
    border: 2px solid rgb(156, 46, 46);
}

.panel-active {
    border: 2px solid rgb(46, 156, 48);
}

.button-wrapper:hover {
    background-color: rgb(46, 46, 46);
}

.button-panel-container {
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

#connection-status-wrapper {
    flex-direction: row;
    background-color: rgb(140, 140, 140);
    width: fit-content;
    padding: 5px;

    border-radius: 15px;

    cursor: pointer;

    user-select: none;
}

#connection-status-wrapper:hover {
    background-color: rgb(96, 96, 96);
}

#connection-status-wrapper:active {
    background-color: rgb(114, 114, 114);
}

#connection-status-icon {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid black;

    margin-right: 5px;
}

#controls {
    margin: 0;
}

#connection-status {
    margin: 0;
}

.button-panel-container img {
    height: 100%;
    width: 100%;
}

.arrow-button {
    cursor: not-allowed;

    padding: 0;
    margin: 5px;
    height: 8vh;
}

.arrow-button {
    background-color: rgba(0, 0, 0, 0);
    border: rgba(255, 255, 255, 1) solid 2px;
}

#connection-wrapper {
    flex-direction: row;
}

#address-input {
    user-select: none;
    margin: 10px;
    background-color: rgb(51, 51, 51);
    width: fit-content;
    height: fit-content;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#button-panels-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
}

.initial-button-panel {
    visibility: hidden;
    position: absolute;
}

.controls {
    user-select: none;
}

.button-name-p {
    user-select: none;
}

.button-name {
    user-select: all;
}

.button-active {
    border: rgba(255, 255, 255, 0.2) solid 2px;
}