@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #202020;
}

#dashboard-header {
    color: #ffffff;
    margin-top: 5%;
    text-align: center;
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.015em;
    user-select: none;
}

/* Arrow rotation */

#arrowUp {
    rotate: 180deg;
}

#buttonLeft {
    rotate: 90deg;
}

#buttonRight {
    rotate: 270deg;
}

/* ---------------- */

/* not needed right now, kept in 'cuz we need a filler image :/ */
#buttonMiddle {
    visibility: hidden;
}

#buttons-wrapper {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buttons-wrapper img {
    height: 100%;
    width: 100%;
}

.arrow-button {
    padding: 0;
    margin: 5px;
    height: 10vh;
}

.arrow-button {
    background-color: rgba(0, 0, 0, 0);
    border: rgba(255, 255, 255, 1) solid 2px;
}